version: 2

updates:
  - package-ecosystem: gomod
    directory: "/server/"
    schedule:
      interval: daily
    commit-message:
      prefix: "fix(deps)"
    open-pull-requests-limit: 50

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      development-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 50

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    commit-message:
      prefix: "fix(deps)"
    open-pull-requests-limit: 50

  - package-ecosystem: github-actions
    directory: "/" # see https://docs.github.com/de/code-security/reference/supply-chain-security/dependabot-options-reference#directories-or-directory--
    schedule:
      interval: weekly
    commit-message:
      prefix: "build"
      include: "scope"
