.profilePicWrapper {
    border-radius: 100%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #ccc;
}

.profilePic { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}