.invalid-search-config {
  width: 100%;
  font-size: 0.875em;
  color: #dc3545;
}
select.form-select option:disabled {
  color: red;
}
body {
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
}
