/* hide all day row in header */
.rbc-time-header .rbc-allday-cell {
  display: none;
}
.rbc-time-header .rbc-header {
  border-bottom: none;
}

/* mark today with blue border */
.rbc-time-header-content .rbc-header.rbc-today {
  background-color: transparent;
  border-top: 2px solid var(--bs-primary);
  border-left: 2px solid var(--bs-primary);
  border-right: 2px solid var(--bs-primary);
  color: var(--bs-primary);
  font-weight: 700;
}
.rbc-time-header-content .rbc-row-bg .rbc-day-bg.rbc-today {
  background-color: transparent;
  border-left: 2px solid var(--bs-primary);
  border-right: 2px solid var(--bs-primary);
}
.rbc-time-content .rbc-day-slot.rbc-today {
  background-color: transparent;
  border-left: 2px solid var(--bs-primary);
  border-right: 2px solid var(--bs-primary);
  border-bottom: 2px solid var(--bs-primary);
}
