.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand > img {
  height: 2rem;
}

[data-bs-theme="dark"] .navbar-brand > img.default-logo {
  filter: invert(1);
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary) !important;
}
